<div class="alert alert-success" *ngIf="successMsg">
  <p>Page Deleted</p>
</div>

<h1 class="page-title">Pages</h1>
<a routerLink="/admin/add-page/">Add a page</a>
<br>
<br>
<table class="table">
  <tr bgcolor="#f9f9f9">
    <th>Title</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <!--<tr *ngFor="let page of pages.value">
   <td>{{page.title}}</td>
   <td><a href="">Edit</a></td>
   <td><a href="">Delete</a></td>
  </tr>-->

  <tr *ngFor="let page of pages.value">
    <td>{{ page.title }}</td>
    <td>
      <a routerLink="/admin/edit-page/{{ page.id }}">Edit</a>
    </td>
    <td *ngIf="page.slug != 'home'">
      <a (click)="deletePage(page.id)" routerLink="/admin/pages">Delete</a>
    </td>
  </tr>
</table>